// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 100vh;

    .header-content {
      padding-top: 5rem;
    }
  }

  .stats {
    grid-template-columns: 1fr;

    li {
      line-height: 1.5;

      &.stats-title {
        font-size: 1.3rem;
      }

      &.stats-number {
        font-size: 1.3rem;
      }
    }

    div {
      padding: 1rem 0;
    }
  }

  //   Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

@media (max-width: 600px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;
    }
  }

  #header {
    &-inner {
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        $bg-image no-repeat center 80% / cover;
      height: 10rem;

      #logo {
        padding-top: 1rem;
      }
    }
  }

  .header-content {
    display: none;
  }

  .bottom-line {
    display: none;
  }

  .lead {
    margin-top: 9rem;
    color: #fff;
  }

  .btn-light {
    margin-top: 2rem;
  }

  //   Stack grid columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr;
  }

  .items {
    grid-gap: 0;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  #home-b {
    .stats {
      grid-template-columns: 1fr;

      li {
        line-height: 1.5;

        &.stats-title {
          font-size: 1.3rem;
        }

        &.stats-number {
          font-size: 1.3rem;
        }
      }

      div {
        padding: 1rem 0;
      }
    }
  }

  //   Contact
  #contact {
    .text-fields {
      margin-bottom: 3rem;

      .text-input {
        width: 90%;
      }

      textarea {
        height: 50px;
      }
    }
  }

  //   Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

@media (max-height: 580px) {
  &-home {
    height: 70vh;
  }

  #header-home {
    .header-content {
      display: none;
    }

    .bottom-line {
      display: none;
    }
  }
}
